.banner {
  position: relative;
  .img1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  &Txt {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 50%;
    color: #fff;
    text-transform: uppercase;
    span {
      font-size: 7.1rem;
      font-weight: 900;
      letter-spacing: 0.02rem;
      line-height: 1;
      margin-bottom: 1rem;
      display: block;
    }
    p {
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 0.06rem;
    }
    .btn-primary {
      border-radius: 3rem;
      padding: 1rem 4rem;
      margin-top: 2rem;
    }
  }
}
