$primary-color: #5645B1;
$secondary-color: #FF9A02;
$accent-color: #fc7070;
$font-color: #000000;
$font-default-color: #fff;
$border-color: #222;
$font-weight: ( "regular": 400, "medium": 500, "bold": 900, );
$vertical-padding: 4rem 0;
$assetPath: "../webImages";